body {
    background-color: #fff3e0; /* Fundo claro */
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ff5722; /* Laranja escuro */
}

.nav-link {
    color: #ffffff !important; /* Links brancos */
}

.inicio-fundo {
    background-color: #ff9800; /* Laranja médio */
    padding: 20px;
}

.secao-movimento {
    background-color: #ffe0b2; /* Laranja claro */
}

.fundo-galeria {
    background-color: #ffffff; /* Fundo branco para a galeria */
}

.formulario {
    background-color: #fff3e0; /* Fundo claro para o formulário */
    padding: 20px;
}

footer {
    background-color: #ff5722; /* Laranja escuro */
    color: #ffffff; /* Texto branco no rodapé */
}